body{
	background: #fafe1d;
	color: black;
}
h2{
	
	text-align: center;
	
}
.fa-id-card{
	position: relative;
	top: 6px;
	left: 80px;


}
.fa-credit-card{
	position: relative;
	top: 6px;
	left: 41px;

}
.fa-user{
	position: relative;
	top: 6px;
	left: 20px;

}
.p-3 {
    padding: 0.9rem!important;
}
.logo{
	opacity: 0.8;

	
}
.westlogo{

}
.d-block{
	
	height: 500px;
}
svg {
  margin: auto;
}

